@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --light-bg-color: white;
  --dark-bg-color: #191e2d;
  --light-text-color: #191e2d;
  --dark-text-color: white;
  --primary-btn-color: #fa2256;
  --secondary-btn-color: #262C42;
}


@layer utilities {
  @variants responsive {
    /* Hide scrollbar for Chrome, Safari and Opera */
    .no-scrollbar::-webkit-scrollbar {
        display: none;
    }

    /* Hide scrollbar for IE, Edge and Firefox */
    .no-scrollbar {
        -ms-overflow-style: none;  /* IE and Edge */
        scrollbar-width: none;  /* Firefox */
    }

    .actionshrink{
      transform:scale(0.98);
    }

    .textarea{
      resize:none;
    }
  }
}